$title-color: #43484E;
$desc-color: #7B7D80;
$primary-color: rgb(220, 220, 36);
* {
    margin: 0;
    padding: 0;
}

.blogTag {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    background-color: $primary-color;
    z-index: 3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 0;
    color: #fff;
    border-radius: 10px;
    box-shadow: rgba(220, 220, 36, 0.17) 0px -23px 25px 0px inset, rgba(220, 220, 36, 0.15) 0px -36px 30px 0px inset, rgba(220, 220, 36, 0.1) 0px -79px 40px 0px inset, rgba(220, 220, 36, 0.06) 0px 2px 1px, rgba(220, 220, 36, 0.09) 0px 4px 2px, rgba(220, 220, 36, 0.09) 0px 8px 4px, rgba(220, 220, 36, 0.09) 0px 16px 8px, rgba(220, 220, 36, 0.09) 0px 32px 16px;}

.time {
    margin-bottom: 3%;
    color: #7B7D80;
    font-size: 14px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardTag {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid #EAEDEF;
    margin: 2.5%;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    &__media {
        height: 200px;
        overflow: hidden;
        position: relative;
        &--image {
            width: 100%;
            display: block;
            margin: 0 auto;
            cursor: pointer;
            &:hover {
                transform: scale(1.01);
                transition: all ease-in-out 0.2s;
            }
        }
    }
    &__title {
        color: $title-color;
        text-align: center;
        margin: 20px 0;
    }

    &__content {
        color: $desc-color;
        text-align: center;
        overflow: scroll;
        height: 40%;
    }

    &__btnSeeMore a{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $title-color;
        margin: 10px 0;
        cursor: pointer;
        &:hover {
            color: $primary-color;
            transition: all ease-in-out 0.2s;
        }
    }
}

.paddingCard {
    padding: 0 2%;
}
